@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model FOS_L1_201945D.Models.FruitCategory
}


<h3>Add Category</h3>


<form asp-controller="FruitCategory" asp-action="AddCategory" method="post">

    <p>
        @Html.ValidationSummary()
        <label asp-for="Name" class="label">Category Name:</label>
        <input asp-for="Name" /> <br />

        <label asp-for="Description" class="label">Description:</label>
        <input asp-for="Description" /> <br />


        <input type="submit" value="Add Fruit" />
        <input type="reset" value="Reset" />
    </p>

</form>